<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>

</head>
<body>
<p>Fill in information:</p>
<div>
    <form  th:object="${post}" th:action="@{/post/}"  method="post">
        <input type="hidden" th:field="*{id}"/>
        <p>Description: <input type="text" th:field="*{description}"/></p>
        <p>Author: <input type="text" th:field="*{author}"/></p>

        <p>Text: <input type="text" th:field="*{text}"/></p>
        <label>Categories:
            <input type="checkbox" name="categories"
                   th:each="category : ${categoriesFromRepo}"
                   th:text="${category.text}"
                   th:value="${category.id}"
                   th:field="*{categories}"
            />
        </label>

        <p><input type="submit" value="Submit" id="button" /> <input type="reset" value="Reset" /></p>
    </form>
</div>


</body>
</html>